# Pandas 1주차


### 1.데이터 입출력

In [1]:
#pandas 불러오기 
import pandas as pd

#### (1) csv 파일 불러오기
pandas.read_csv('파일경로/파일명', sep=',', header='infer', usecols=None, encoding=None, ,,,,)
 - sep : 파일내에서 사용하는 구분자 표시
 - header: 인식하기 시작할 행 지정
 - usecols : 원하는 일부 column만 인식
 - econding : 인코딩 지정
 
pandas.Dataframe.head() : 위에서  n번째 행까지만 출력. default=5

In [5]:
cctv_seoul=pd.read_csv("cctv_in_seoul.csv", encoding='utf-8',)
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

#### (2) excel 파일 불러오기

pandas.read_excel('파일경로/파일명', header=0, usecols=None,...)

In [6]:
pop_seoul=pd.read_excel('population_in_seoul.xls', encoding='utf-8')
pop_seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

In [7]:
#usecols 옵션을 사용하여 원하는 column만 불러오기
pop_seoul=pd.read_excel('population_in_seoul.xls', heder=2,
                       usecols='B,D,G,J,N', encoding='utf-8')
pop_seoul.head()

   자치구        인구     인구.1    인구.2  65세이상고령자
0  자치구        합계      한국인   등록외국인  65세이상고령자
1  자치구         계        계       계  65세이상고령자
2   합계  10197604  9926968  270636   1321458
3  종로구    162820   153589    9231     25425
4   중구    133240   124312    8928     20764


#### (3) 이름 변경하기
pandas.DataFrame.rename(mapper=None, index=None, columns=None, inplace=False,,,)
 - mapper, index, columns : 새로운 column 이름 지정
 - inplace: 새로운 열이름을 출력만 할 것인지 진짜 데이터프레임에 적용할 것인지 결정. default: False

In [8]:
#cctv_seoul 데이터의 첫번째 열 이름 바꾸기
cctv_seoul.rename(columns={cctv_seoul.columns[0]:'구별'}, inplace=True)
cctv_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [9]:
#pop_seoul의 열 이름 바꾸기
pop_seoul.rename(columns={"자치구":"구별", "계":"인구수", "계.1":"한국인",
                         "계.2":"외국인", "65세이상고령자":"고령자"}, inplace=True)
pop_seoul.head()

    구별        인구     인구.1    인구.2       고령자
0  자치구        합계      한국인   등록외국인  65세이상고령자
1  자치구         계        계       계  65세이상고령자
2   합계  10197604  9926968  270636   1321458
3  종로구    162820   153589    9231     25425
4   중구    133240   124312    8928     20764